h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* =============================================================================
SIDEBAR
============================================================================= */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  height: 100vh;
  min-width: 14rem;
  overflow: scroll;
  margin-left: -14rem;
  transition: margin 0.25s ease-out;
  border-right: 1px solid #dcdcdc;
  background-color: #f2f2f2;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
}
.sidebar-heading {
  width: 14rem;
  position: fixed;
  z-index: 1000;
}

#sidebar-wrapper .list-group {
  width: 14rem;
}
.list-group {
  overflow: scroll;
}

.list-group-item {
  color: #434343;
}

.list-group-item + .list-group-item.active {
  margin-top: 0.25rem;
  border-radius: 8px;
}

#page-content-wrapper {
  min-width: 100vw;
  height: 100vh;
  overflow: scroll;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -14rem;
  }
}

.list-group-item {
  background-color: transparent;
  border: none;
  margin: 0.25rem 0rem;
  padding: 0.7rem;
}
.list-group-item-action:hover,
.list-group-item-action:focus {
  border-radius: 8px;
}

.list-group-item.active {
  color: #000000;
  border: none;
  background-color: #e7e7e7;
  border-radius: 0.5rem;
}

.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}

.placeholder {
  border-radius: 6px;
}
